.venue-card {
    position: relative;
    margin: 0 4rem 4rem;
    height: 45rem;
    background-color: $secondary-color;
    overflow: hidden;
    border: 2px solid $secondary-color-dark;

    
    &__img {
        object-fit: cover;
        position: relative;
        height: 100%;
        width: 100%;
        cursor: pointer;
        transition: all 1s ease-in-out;
        
    }

    &__infobox {
        text-align: center;
        background-color: rgba(0, 0, 0, 0.8);
        box-shadow: 0 -1rem 3rem rgba(0, 0, 0, 1);
        position: absolute;
        bottom: 0%;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 10;
    }

    &__title {
        color: $secondary-color-dark;
        margin-top: 2rem;

        :hover {
            color: $secondary-color;
        }
    }

    &__excerpt {
        color: $primary-color-dark;
        text-align: end;
        font-size: 1.5rem;
        margin: 0 3rem 1rem;
    }
}