.primary-color {
    color: $primary-color !important;
}

.primary-color-dark {
    color: $primary-color-dark;
}

.primary-color-light {
    color: $primary-color-light;
}

.primary-bg {
    background-color: $primary-color;
}

.primary-bg-dark {
    background-color: $primary-color-dark;
}
.primary-bg-light {
    background-color: $primary-color-light;
}