.primary-color {
    color: $primary-color !important;
}

.primary-color-dark {
    color: $primary-color-dark;
}

.primary-color-darker {
    color: $primary-color-darker;
}

.primary-bg {
    background-color: $primary-color;
}

.primary-bg-dark {
    background-color: $primary-color-dark;
}
.primary-bg-darker {
    background-color: $primary-color-darker;
}