.site-footer {
    position: absolute;
    bottom: 0;
    background-color: $off-white;
    padding: 3rem 0;
    width: 100vw;
    border-top: 1.2rem solid $secondary-color-dark;

    &__logobox {
        color: $secondary-color-dark;
        position: relative;

        & a {
            transform: scale(2) translate(0);
        }
    }

    &__nav {
        margin-left: 12rem;
    }

    &__nav-links {
        margin: 2rem 0;
        z-index: 2;

        & a {
            font-size: 1.4rem;
            font-weight: 700 !important;

            &:hover {
                color: $secondary-color-dark;
            }
        }
    }

    &__articles {
        margin-left: 10rem;
    }

    &__article-head {
        margin: 2rem 0;
    }

    &__article-links {
        margin: 2rem 0;
        z-index: 2;

        & a {
            font-size: 1.4rem;
            font-weight: 700 !important;

            &:hover {
                color: $secondary-color-dark;
            }
        }
    }

    &__social {
        margin: 0 auto;
        display: flex;

      
        & li a {
            display: block;
            position: relative;
            width: 5rem;
            height: 5rem;
            line-height: 5rem;
            font-size: 2rem;
            text-align: center;
            margin: 1rem 2rem;
            transition: .5s;

            & span {
                position:absolute;
                transition: transform .5s;
                background-color: #000;

                &:nth-child(1),
                &:nth-child(3) {
                    width: 100%;
                    height: 3px;
                }

                &:nth-child(1) {
                    top: 0;
                    left: 0;
                    transform-origin: right;
                }

                &:nth-child(3) {
                    bottom: 0;
                    left: 0;
                    transform-origin: left;
                }

                &:nth-child(2),
                &:nth-child(4) {
                    width: 3px;
                    height: 100%;
                }

                &:nth-child(2) {
                    top: 0;
                    left: 0;
                    transform: scale(0);
                    transform-origin: bottom;
                }

                &:nth-child(4) {
                    top: 0;
                    right: 0;
                    transform: scale(0);
                    transform-origin: top;
                }
            }

            &:hover span {
                background-color: $secondary-color-dark;
            
                &:nth-child(1) {
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform 0.5s;
                }

                &:nth-child(3) {
                    transform: scaleX(0);
                    transform-origin: right;
                    transition: transform 0.5s;
                }

                &:nth-child(2) {
                    transform: scale(1);
                    transform-origin: top;
                }

                &:nth-child(4) {
                    transform: scale(1);
                    transform-origin: bottom;
                }
            }

            &:hover i {
                color: $secondary-color-dark;
            }

        }

        & li:nth-child(even) a:hover i{
            color: $primary-color;
        }
        
        & li:nth-child(even) a:hover span {
            background-color: $primary-color;
        }
    }
}