.site-header {
    position: fixed;
    top: 32px;
    left: 0;
    height: auto;
    width: 100%;
    background-color: $off-white;
    border-bottom: 1.2rem solid $primary-color;
    z-index: 100;
    

    &__flex {
        top: 0;
    }

    &__logobox {
        color: $secondary-color-dark;
        margin: 1rem 0;
        & h2 {
            margin-left: -3rem;
            color: #000;
        }
    }

    &__nav {
        margin-left: 3rem;
        height: 100%;

        & li {
            display: block;
            height: 100%;
        }

        & li a {
            padding: 3rem 2rem;
            text-transform: uppercase;
            font-size: 1.4rem;
            height: 100%;

            &:hover{
                color: $secondary-color-dark;
            }
        }
    }
    
    &__search {
        cursor: pointer;
        padding: 0.5rem 2rem;

        i {
            color: $primary-color-dark;
        }

        &:hover i {
            color: $primary-color;
        }
    }

    &__dropdown {
        background-color: $off-white;
        height: 0;
        width: 200vw;
        margin-left: -50vw;
        transition: all 0.3s ease-in-out;
    
        &.active {
        transition: all  0.3s ease-in-out;
        height: 30rem;
        }
    }

    &__dropdown-links {
        // position: relative;
    }

    &__dropdown-menu {
        visibility: hidden;
        position: fixed;
        opacity: 0;
        left: 0;
        top: 10rem;
        width: 100vw;
        transition: all 0.5s ease-in-out;
        
        &.show {
            opacity: 1;
            transition: all 0.5s ease-in-out;
            
        }

        & .container {
            padding: 0 20rem;
        }
    }

    &__sub-menu {

    }

    &__sub-links {
        margin: 2rem 2rem !important;
         
        
        & a {
            text-transform: none !important;
            padding: 0 !important;
        }

        &.bold a {
            font-weight: 900;
            text-transform: uppercase !important;
        }
    }
}

.menu-border {
    border-left: 2px solid $secondary-color-dark;
}